<aside id="left-panel">

    <!-- User info -->
    <div login-info></div>
    <!-- end user info -->
    <nav>

        <!-- <ul data-smart-menu-items></ul> -->

        <ul data-smart-menu>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.home.home" title="Outlook">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">首页</span>
                </a>
            </li>

            <li data-ui-sref-active="">
                <a data-ui-sref="app.Platform.accountHolder" title="Outlook">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">测试页面</span></a>
            </li>

            <li data-ui-sref-active="">
                <a data-ui-sref="app.Person.personal" title="Outlook">
                    <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">角色管理</span></a>
            </li>

        </ul>
    </nav>

    <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>

</aside>
